@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000 url('BG.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Google Sans Flex', sans-serif;
    color: white;
    text-align: center;
    overflow: hidden;
}

.content {
    width: 100%;
    max-width: 900px;
}

.alert-icon {
    width: 350px; 
    height: auto;
    margin-bottom: 30px;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 10px;
}

p {
    font-size: 1.6rem;
    font-weight: 300;
    opacity: 0.95;
    margin-bottom: 50px;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.socials img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}